@import "animation.less";
@import "utils.less";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
    .clearfix();
    img {
        max-width: 100%;
    }
}

.loading_page {
    width: 100%;
    height: 100%;
    background-color: #BA0F43;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    color: #E6C55D;
    text-align: center;
    font-size: 16px;
    p {
        height: 40px;
        line-height: 40px;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .progress {
        height: 10px;
        width: 240px;
        background: #E00345;
        margin: 0 auto;
        border-radius: 20px;
        border: 2px solid #E00345;
        .inner {
            height: 10px;
            background: #E6C55D;
            border-radius: 20px;
            max-width: 0;
            width: 100%;
            .transition(all .5s ease);
        }
    }
}

.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    z-index: 1;

    & > div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center 0;
        opacity: 0;
    }

    & > div.icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        opacity: .7;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -20px;
        top: auto;
        z-index: 1;
        .arrow {
            width: 16px;
            height: 20px;
            display: inline-block;
            background: url('../images/ico-arrow.png') 0 0 no-repeat;
            background-size: 16px;
            -webkit-animation: motion 2s infinite;
            animation: motion 2s infinite;
        }
    }
}

.player {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 105;
    width: 43px;
    height: 43px;
    & > div {
        width: 43px;
        height: 43px;
        line-height: 43px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        text-indent: -9999px;
    }
    & > .pause {
        background: url('../images/pause.png') 0 0 no-repeat;
        background-size: 43px;
        display: none;
    }
    & > .play {
        background: url('../images/play.png') 0 0 no-repeat;
        background-size: 43px;
    }
}